

<table class="table">
<thead class="thead-dark">
    <tr>
    <th scope="col">{{"Id"}}</th>
    <th scope="col">{{"Name"}}</th>
    <th scope="col">{{"Password"}}</th>
    <th scope="col">{{"Designation"}}</th>
    
    </tr>
</thead>
<tbody>
    <tr *ngFor="let employee of employees">
        <td>{{employee.id}}</td>
        <td>
            <a [routerLink]="['/employees/',employee.id]" routerLinkActive="active">
            {{employee.name}}</a>
        </td>
        <td>{{employee.password}}</td>
        <td>{{employee.designation}}</td>
        
    </tr>
</tbody>
</table>