<div class="container">
    <div class="row">
        <h3>Client Details</h3>
    </div>
    

    <div class="row">
        <div class="col-sm" style= "margin-top: 34px;">
       
        <ul class="list-group" >
                <li class="list-group-item">Name : {{client?.name}}</li>
                <li class="list-group-item"> Email : {{client?.email}}</li>
                <li class="list-group-item"> Phones : {{client?.phones}}</li>
                <li class="list-group-item"> Address : {{client?.address}}</li>
                <li class="list-group-item"> AddedOn : {{client?.addedOn}}</li>
                
        </ul>

        </div>


  </div>


</div>