<div class="container">
    <div class="row">
        <h3>Interaction Details</h3>
    </div>
    

    <div class="row">
        <div class="col-sm" style= "margin-top: 34px;">
       
        <ul class="list-group" >
                <li class="list-group-item"> Client Id : {{interaction?.clientId}}</li>
                <li class="list-group-item"> Employee Id : {{interaction?.empId}}</li>
                <li class="list-group-item"> Interaction Type : {{interaction?.intType}}</li>
                <li class="list-group-item"> Interaction Date : {{interaction?.intDate}}</li>
                <li class="list-group-item"> Remarks : {{interaction?.remarks}}</li>
        </ul>

        </div>


  </div>


</div>