

<table class="table">
<thead class="thead-dark">
    <tr>
    <th scope="col">{{"Id"}}</th>
    <th scope="col">{{"Name"}}</th>
    <th scope="col">{{"Email"}}</th>
    <th scope="col">{{"Phone"}}</th>
    <th scope="col">{{"Address"}}</th>
    <th scope="col">{{"AddedOn"}}</th>
    
    </tr>
</thead>
<tbody>
    <tr *ngFor="let client of clients">
        <td>{{client.id}}</td>
        <td>
            <a [routerLink]="['/clients/',client.id]" routerLinkActive="active">
            {{client.name}}</a>
        </td>
        <td>{{client.email}}</td>
        <td>{{client.phones}}</td>
        <td>{{client.address}}</td>
        <td>{{client.addedOn}}</td>
        
    </tr>
</tbody>
</table>